@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

a{
    text-decoration: none;
}


body{
    font-family: 'Times New Roman', Times, serif,sans-serif;
}
.hero div{
    background-color: #900000;
}


.header{
    display: flex;
    align-items: center;
    padding: 0 300px;
}

.header_links{
    display: flex;
    margin-left: auto;
    gap: 10px;
}
.logo_text{
    color:#f9faf8;
    font-size: 24px;
    font-weight: 800;
}


.header > img{
    width: 80px;
    height: auto;
}

.header_links a{
    font-size: 18px;
    color: #e5e7eb;
}

.rest_of_hero{
    display: flex;
    padding: 50px 300px;
}

.rest_of_hero.text{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    flex-wrap: wrap;
    gap: 15px;
}

.rest_of_hero > img{
    width: 550px;
    height: auto;
    margin-left: auto;
}

.big_text{
    font-size: 48px;
    font-weight: 900;
    max-width: 570px;
    color: #f9faf8;
}

.small_text{
    margin-top: 10px;
    font-size: 18px;
    color: #e5e7eb;
    max-width: 570px;
}

button{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    background-color: #e8b923;
}

.rest_of_hero button{
    margin-top: 10px;
}

.mid_section{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: center;
    margin-bottom: 100px;

}

.title{
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    margin :50px 0;
}
.images{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.image_text > .text{
    text-align: center;
    color: #666963;
}
.mid_section img{
    border-radius: 25px;
    border: #900000 5px;
    width: 200px;
    height: 200px;
}
.quote_section{
    background-color: #e5e7eb ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 450px;
}
.quote{
    font-style:italic;
    color: #666963;
    font-size: 24px;

}
.author{
    margin-left: auto;
    font-weight: 700px;
    color: black;
    font-size: 24px;
}

.bot_section{
    background-color: #e8b923;
    margin: 100px 300px;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.bot_text > .big_text{
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.bot_text > .small_text{
    color: black;
    font-size: 14px;
}
.bot_section  button {
    margin-left: auto;
    background-color: #e8b923;
    border-radius: 5px;
    border-color: #900000;
}
.footer{
    text-align: center;
    background-color: #900000;
    padding: 50px;
    color:#f9faf8;
}