body {
    background: #eee;
    font-family: sans-serif;
  }
  
  .card {
    width: 400px;
    background-color: #ffffff;
    margin: 8px auto;
  }
  
  .title {
    background-color: aqua;
    margin:8px;
    padding: 8px;
  }
  
  .content {
    background-color: aqua;
    margin:8px;
    padding: 8px;
  }
  
  .button-container {
    background-color: aqua;
    text-align: center;
    margin:8px;
    padding: 8px;
  }
  
  button {
    font-size: large;
    display: block;
    margin-left: 120px;
    background: white;
    border: 1px solid black;
  }